body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    background-color: #f6f6f6;
    font: #222;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 255px;
    border: 2px #333 solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #aaa;

}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(4em, auto) repeat(5, 4em);
    grid-gap: 4px;
}

#display {
    grid-column: 1 / -1;
    font-size: 3em;
    text-align: right;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 7px;
    word-wrap: break-word;
    word-break: break-all;
}

.span-two {
    grid-column: span 2;
    border: 2px #333 solid;
    border-radius: 5px;
    background-color: #faa;
    cursor: pointer;
}

.btn {
    border: 2px #333 solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .fa-github {
    color: #000000;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }